body {
  font-family: 'MedievalSharp', cursive;
  color: red; }

.banner {
    background-image: url("/resources/img/black-banner.png");
    width:100%;
    height:225px;
  }

.main-content {
  background-image: url("/resources/img/fantasy_landscape.jpg");
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-color: black;
}

.big-button{
  height: 200px;
  width: 200px;
  background-color: purple;
  margin-left: 10%;
  margin-top: 20px;
}

.container{
  width: 36%;
  margin: 0 auto;
}

.love {
  background: url('/resources/img/love.png');
  background-size: 100% 100%;
}
/*this is the hover event trigger*/
.love:hover {
  cursor:pointer;
  background:url('/resources/img/love.gif');
  background-size: 100% 100%;
}

.journey {
  background: url('/resources/img/journey.png');
  background-size: 100% 100%;
}
/*this is the hover event trigger*/
.journey:hover {
  cursor:pointer;
  background:url('/resources/img/journey.gif');
  background-size: 100% 100%;
}

.adventure {
  background: url('/resources/img/adventure.png');
  background-size: 100% 100%;
}
/*this is the hover event trigger*/
.adventure:hover {
  cursor:pointer;
  background:url('/resources/img/adventure.gif');
  background-size: 100% 100%;
}

.oracle {
  background: url('/resources/img/oracle.png');
  background-size: 100% 100%;
}
/*this is the hover event trigger*/
.oracle:hover {
  cursor:pointer;
  background:url('/resources/img/oracle.gif');
  background-size: 100% 100%;
}

#title{
  text-align: center;
  color: white;
  font-family: arial;
  font-weight: bold;
  font-size: 50px;
  margin-top: -20px;
  padding-top: 50px;
}

#oracle{
  background-color: red;
}

#sword {
  height: 200px;
  width: 200px; }

nav {
  height: 60px;
  background-image: url("/resources/img/flame.gif");
  background-size: 10%;
  color: red; }

.navbar-inverse .navbar-nav li a {
  color: white; }

.divider {
  height: 60px;
  margin: 0 9px;
  border-left: 1px solid #f2f2f2;
  border-right: 1px solid #ffffff; }

.sebm-google-map-container {
  height: 300px; }

#dragon {
  position: relative;
  -webkit-animation-name: example;
  /* Chrome, Safari, Opera */
  -webkit-animation-duration: 10s;
  /* Chrome, Safari, Opera */
  -webkit-animation-iteration-count: infinite;
  /* Chrome, Safari, Opera */
  animation-name: example;
  animation-duration: 10s;
  animation-iteration-count: infinite; }

/* Chrome, Safari, Opera */
@-webkit-keyframes example {
  0% {
    left: 0px;
    top: 600px; }
  100% {
    left: 95%;
    top: -300px; } }
