body {
  background-image: url("/resources/img/dragon.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: black;
  font-family: 'MedievalSharp', cursive;
  color: red;
}

#sword{
  height: 200px;
  width: 200px;
}

nav{
  height: 60px;
  background-image: url("/resources/img/flame.gif");
  background-size: 10%;
  color: red;
}

.navbar-inverse .navbar-nav li a {
  color: white;
}

.divider{
  height: 60px;
  margin: 0 9px;
  border-left: 1px solid #f2f2f2;
  border-right: 1px solid #ffffff;
}

#buttons{
}

#dragon {
  position: relative;
  -webkit-animation-name: example; /* Chrome, Safari, Opera */
  -webkit-animation-duration: 10s; /* Chrome, Safari, Opera */
  -webkit-animation-iteration-count: infinite; /* Chrome, Safari, Opera */
  animation-name: example;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes example {
    0%   {left:0px; top:600px;}
    100% {left:95%; top:-300px;}
}
